
<div class="container-fluid" id="header">
  <section class="header">
    <app-header></app-header>
  </section>
</div>

<div class="container-fluid" id="body">

  <div class="row py-1">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <button class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="openAddNew()">  
      <!-- <button class="btn btn-outline-success" type="button" (click)="openAddNew()"> -->
        Add New
      </button>
    </div>
  </div> 


  <!-- List -->
  @if (studentList.length !== 0) {
    <div class="row">

      @for (item of studentList; track $index){
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-6">
                  Student Name: {{ item.name }}
                </div>
                <div class="col-6 text-end">
                  Mobile No: {{ item.mobileNo }}
                </div>
              </div>
            </div>
            <div class="card-body">          
              <p>City: {{ item.city }}, State: {{ item.state }}, Pincode: {{ item.pincode }} </p>
              <p>Address: {{item.address }} </p>
            </div>
            <div class="card-footer text-center">
              <div class="row">
                <div class="col-7">
                  <p>Email: {{ item.email }}</p>
                </div>
                <div class="col-5">
                  <button class="btn btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="onEdit(item)">
                    <fa-icon [icon]="faEdit">Edit</fa-icon>
                  </button>
                  <button class="btn btn-sm btn-danger"  (click)="onDelete(item)">                     
                    <fa-icon [icon]="faTrash">Delete</fa-icon>
                  </button>
                  <button class="btn btn-sm btn-success"  (click)="toDetails()">                     
                    <fa-icon [icon]="faArrowRight">Detail</fa-icon>
                  </button>
                </div>
              </div>            
            </div>
          </div>
        </div>
      }
    </div>
  } 
  @else {
    <div class="row">
      <div class="col-12 p-4 text-center">
        <p>
          No record found. Create a new record. 
        </p>
      </div>
    </div>
  }
</div>

<!-- Modal -->
<div class="modal fade" id="addNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewModalLabel" aria-hidden="true" #addNewModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addNewModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="closeAddNew()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name">
          </div>
          <div class="col-6">
            <label for="mobileNo">Mobile Number:</label>
            <input type="text" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile Number">
          </div>
          <div class="col-6 d-flex">
            <label for="email">Email:</label>
            <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email">
          </div>
          <div class="col-6">
            <label for="city">City:</label>
            <input type="text" [(ngModel)]="studentObj.city" class="form-control" placeholder="City">
          </div>
          <div class="col-6">
            <label for="state">State:</label>
            <input type="text" [(ngModel)]="studentObj.state" class="form-control" placeholder="state">
          </div>
          <div class="col-6">
            <label for="pincode">Pin Code:</label>
            <input type="text" [(ngModel)]="studentObj.pincode" class="form-control" placeholder="Pin Code">
          </div>
          <div class="col-6">
            <label for="address">Address:</label>
            <input type="text" [(ngModel)]="studentObj.address" class="form-control" placeholder="Address">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="closeAddNew()">Close</button>

        @if (studentObj.id == 0 ) {
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="saveStudent()">Save Student</button>
        } 
        @else {
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewModal" (click)="updateStudent()">Update Student</button>
        }
        
      </div>
    </div>
  </div>
</div>
